*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 6px;
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background: #222;
}
.container{
    width: 100%;
    height: 250px;
    background-color: tomato;
    position: relative;
}
.container h1{
    color: white;
    text-align: center;
    font-size: 44px;
    padding: 20px 0px;
}
.container input{
    display: block;
    margin: auto;
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 14px;
    padding-left: 5px;
    color: white;
}
.container input::placeholder{
    color: white;
    font-size: 14px;
}
.container button{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: tomato;
    border: 3px solid white;
    color: white;
    position: absolute;
    left: calc(50% - 45px);
    bottom: -45px;
    font-size: 15px;
}
.container button:hover{
    transform: scale(1.05);
}
#lista-tareas{
    margin-top: 100px;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
.tareas{
    width: 60%;
    height: auto;
    border-radius: 5px;
    background-color: #666;
    margin: 5px auto;
    padding: 10px 15px;
    position: relative;
}
.tareas h2{
    color: white;
    font-size: 20px;
}
.tareas p{
    color: white;
    margin-left: 10px;
    font-size: 14px;
}
.tareas h3{
    font-size: 22px;
    color: mediumseagreen;
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.tareas h3 i{
    cursor: pointer;
    margin: 0px 5px;
}
.tareas h3 i:nth-child(2){
    color: #EF626C;
}
.tareas2{
    width: 60%;
    height: auto;
    border-radius: 5px;
    background-color: #444;
    margin: 5px auto;
    padding: 10px 15px;
    position: relative;
}
.tareas2 h2{
    color: white;
    font-size: 20px;
}
.tareas2 p{
    color: mediumseagreen;
    font-size: 14px;
    margin-left: 10px;
}
.tareas2 h3 i{
    cursor: pointer;
    margin: 0px 5px;
}
.tareas2 h3{
    font-size: 22px;
    color: mediumseagreen;
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.tareas2 h3 i:nth-child(2){
    color: #EF626C;
}
.alerta{
    background-color: #222;
    border-radius: 5px;
    margin: 5px auto;
    line-height: 60px;
    height: 60px;
    width: 600px;
    color: white;
    text-align: center;
    font-size: 14px;
}
@media (max-width: 500px) {
    body{
        max-width: 500px;
        width: 500px;
    }
    .container{
        width: 500px;
        height: 250px;
        background-color: tomato;
        position: relative;
    }
    #lista-tareas{
        margin-top: 100px;
        width: 500px;
        height: auto;
        padding-bottom: 100px;
    }
    .tareas, .tareas2, .alerta{
        width: 90%;
        height: auto;
    }
}