*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #333;
}
body::-webkit-scrollbar{
    width: 22px;
    background: #333;
}
body::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 25px;
}
.container{
    width: 100%;
    height: auto;
    background-color: #333;
}
.container h1{
    color: white;
    text-align: center;
    padding: 30px;
}
.titulo-tareas{
    text-align: center;
    padding: 30px;
    color: #333;
}
.container input{
    width: 44%;
    display: block;
    margin: auto;
    padding: 0 8px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    color: white;
    background-color: #555;
}
.container input::placeholder{
    color: silver;
    font-size: 16px;
}
.container input:focus{
    transition: all 0.5s ease;
    transform: scale(1.05);
    background-color: silver;
    box-shadow: 0 0 0 7px rgba(51, 51, 51, 0);
}
.container button{
    cursor: pointer;
    border: none;
    height: 40px;
    background: linear-gradient(101deg, #333 10%, white 80%);
    box-shadow: 1px 1px 2px #333;
    color: white;
    border-radius: 10px;
    width: 20%;
    display: none;
    margin: 50px auto;
    animation: pulse 2s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(51, 51, 51, 1);
    }
    70%{
        transform: scale(1.1);
        box-shadow: 0 0 0 7px rgba(51, 51, 51, 0);
    }
    100%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(51, 51, 51, 0);
    }
}
.container button:hover{
    animation: none;
    background: linear-gradient(102deg, #333 40%, #333 60%);
    transform: scale(1);
}
.tareas{
    width: 44%;
    height: auto;
    border-radius: 10px;
    background-color: #777;
    margin: 2px auto;
    padding: 5px 15px;
}
.tareas p{
    color: white;
    margin-top: 5px;
    font-size: 16px;
}
.tareas h3 i{
    cursor: pointer;
}
.tareas h3{
    font-size: 21px;
    color: mediumseagreen;
    margin-left: 510px;
    margin-top: -27px;
}
.tareas h3 i:nth-child(2){
    color: #EF626C;
}
.tareas2{
    width: 44%;
    height: auto;
    border-radius: 10px;
    background-color: #555;
    margin: 2px auto;
    padding: 5px 15px;
}
.tareas2 p{
    color: mediumseagreen;
    margin-top: 5px;
}
.tareas2 h3 i{
    cursor: pointer;
}
.tareas2 h3{
    font-size: 21px;
    color: mediumseagreen;
    margin-left: 510px;
    margin-top: -27px;
}
.tareas2 h3 i:nth-child(2){
    color: #EF626C;
}
.alerta{
    background-color: silver;
    border-radius: 10px;
    margin: 5px auto;
    line-height: 40px;
    height: 40px;
    width: 44%;
    color: white;
    text-align: center;
    font-size: 14px;
}
@media (max-width: 500px) {
    .container{
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
    .container h1{
        font-size: 28px;
    }
    .container input{
        font-size: 12px;
        width: 70%;
    }
    .container input::placeholder{
        font-size: 14px;
        width: 70%;
    }
    .tareas{
        position: relative;
        width: 70%;
    }
    .tareas p{
        font-size: 14px;
    }
    .tareas h3{
        display: inline-flex;
        position: absolute;
        top: 33px;
        right: 10px;
    }
    .tareas h3 i{
        margin: 3px;
    }
    .tareas2{
        position: relative;
        width: 70%;
    }
    .tareas2 p{
        font-size: 14px;
    }
    .tareas2 h3{
        display: inline-flex;
        position: absolute;
        top: 33px;
        right: 10px;
    }
    .tareas2 h3 i{
        margin: 3px;
    }
    .alerta{
        width: 70%;
    }
}